<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">ffdb</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" >
                <li class="nav-item">
                    <a href="/docs/3.2/components" class="nav-link">
                        <i class="nav-icon fas fa-server"></i>
                        <p>
                            mariaDB
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;" data-mariadb-depth="2">

                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</aside>
