{{>layouts/defult_layout}}
<script>
    $(document).ready(function () {
        console.log({{table_name}});
        alert("dd");
    });
</script>

<div class="content-wrapper">

    <div class="content-header">
        <h4>({{table_schema}})</h4>
        <h3>{{table_name}}</h3>
    </div>


    <section class="content ">
        <div class="container-fluid">

            <div class="row" >
                <!--VO-->
                <div class="card card-info card-outline direct-chat direct-chat-success shadow-sm col-lg-10 m-1">
                    <div class="card-header" style="font-size: 20px;">
                        {{table_name}}VO
                    </div>
                    <div class="card-body">
                        <div class="row m-2" style="font-size: 12px;">
                            <pre style="color: white;font-size: 12px;">
                            {{#columnsVOS}}
                            // {{column_comment}}
                            private {{object_type}} {{column_name}};
                            {{/columnsVOS}}
                            </pre>
                        </div>
                    </div>
                </div>
                <!--셀렉트-->
                <div class="card card-success card-outline direct-chat direct-chat-success shadow-sm col-lg-10 m-1">
                    <div class="card-header" style="font-size: 20px;">
                        mybatis selectAll
                    </div>
                    <div class="card-body" >
                        <pre style="color: white;font-size: 12px;" >
                            SELECT * FROM {{table_name}}
                            WHERE 1
                            {{#columnsVOS}}
                            &lt;if test="columnsVO.{{column_name}} != null and columnsVO.{{column_name}} !=''"&gt;
                                AND {{column_name}} = #{columnsVO.{{column_name}}}
                            &lt;/if&gt;
                            {{/columnsVOS}}
                        </pre>
                    </div>
                </div>
                <!--인설트-->
                <div class="card card-danger card-outline direct-chat direct-chat-success shadow-sm col-lg-10 m-1">
                    <div class="card-header" style="font-size: 20px;">
                        mybatis insert
                    </div>
                    <div class="card-body">
                        <pre style="color: white;font-size: 12px;">
                            INSERT INTO {{table_name}}
                            &lt;trim prefix="SET" suffixOverrides=","&gt;
                            {{#columnsVOS}}
                            {{^pk_flag}}
                                &lt;if test="columnsVO.{{column_name}} != null and columnsVO.{{column_name}} !=''"&gt;
                                    {{column_name}} = #{columnsVO.{{column_name}}},
                                &lt;/if&gt;
                            {{/pk_flag}}
                            {{/columnsVOS}}
                            &lt;/trim&gt;
                        </pre>
                    </div>
                </div>
                <!--업데이트-->
                <div class="card card-fuchsia card-outline direct-chat direct-chat-success shadow-sm col-lg-10 m-1">
                    <div class="card-header" style="font-size: 20px;">
                        mybatis update
                    </div>
                    <div class="card-body">
                        <pre style="color: white;font-size: 12px;">
                            UPDATE {{table_name}}
                            &lt;trim prefix="SET" suffixOverrides=","&gt;
                            {{#columnsVOS}}
                            {{^pk_flag}}
                                &lt;if test="columnsVO.{{column_name}} != null and columnsVO.{{column_name}} !=''"&gt;
                                    {{column_name}} = #{columnsVO.{{column_name}}},
                                &lt;/if&gt;
                            {{/pk_flag}}
                            {{/columnsVOS}}
                            &lt;/trim&gt;
                            {{#columnsVOS}}
                            {{#pk_flag}}
                            WHERE {{column_name}} = #{columnsVO.{{column_name}}}
                            {{/pk_flag}}
                            {{/columnsVOS}}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

